#intro{
    position: relative;
    background-image:  url(https://trax.acrothemes.com/bootstrap-v5/images/banner1-4.jpg);
    @include background-img-design;
    .container{
        .top{
            .text{
                text-transform: capitalize;
                text-align: center;
                position: absolute;
                top: 35%;
                color:$primary-color;
                h1{
                    font-size: $font-size+30px;
                    font-weight: 100;
                }
            }
        }
        .bottom{
            .card{
                justify-content: center;
                text-align: center;
                align-items: center;
                padding: 25px;
                height: 230px;
                background-color:#26313c;
                text-align: center;
                transform: translateY(650px);
                color: $primary-color;
                a{
                    text-decoration: none;
                    color: $primary-color;
                }
                i{
                    font-size: $font-size;
                    transition: .5s linear;
                }
                &:hover i{
                    transform: scale(1.3);
                }
                h3{
                    margin: 25px 0px 15px 0;
                }

            }
            .card-second{
                background-image: $liner-gradient;
                height: 260px;
                transform: translateY(630px);

            }
        }

    }
}